#title {
    background-color: #ff4c68;
    color:#fff;
    
}
h1 {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}
h2 {
    font-family: 'Montserrat-Bold';
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}
.container-fluid {
    padding: 3% 15% 7%;
}
body {
    font-family: 'Montserrat', sans-serif;
}

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
  }
@media (max-width:1028px) {
      #title {
        text-align: center;
    }  
.title-image {
       position: static;
       transform: rotate(0);
       }
}
.cta_header {
    font-size: 3.5rem;
    color:#fff;
    line-height: 1.5;
    font-weight: 900;
}
#cta {
    text-align: center;
    background-color: #ff4c68;
    font-family: 'Montserrat-Black';
    padding:7% 15%;
    font-weight: 900;
    font-size: 3rem;
}
.buttons-download {
    margin: 0 0.5%;
    font-weight: 700;
    padding:.2rem .5rem;
}

  /* navigation bar  */

  .navbar {
      padding: 0 0 2.5rem;
  }
   .nav-item {
       padding: 0 18px;
   }
   .nav-link {
       font-size:1.2rem;
       font-family: 'Montserrat-Light';
   }
  .navbar-brand {
      font-family: 'Ubuntu';
      font-size: 2.5rem;
      font-weight:bold;
  }

  .button-download {
      margin: 5% 3% 5% 0;
  }
  #features {
      text-align: center;
      background-color: #fff;
      padding:7% 15%;
      position: relative;
            
    }
  .icons {
      color:#ef8172;
      
  }
  .icons:hover {
      color:#ff4c68;
  }
  .hthree {
      font-family: "Montserrat:Bold";
      font-size: 1.5rem;
      font-weight: 900;
      padding-top: 0.5rem;
  }
  .para {
      color:#8f8f8f;
  }
  .carousel-item {
    padding :7% 15%;
  }
  .padding-column {
      padding:3% 2%;
  }
  #pricing {
      padding: 100px;
      text-align: center;
  }
  #testimonials {
      
      text-align: center;
      background-color: #ef8172;
      color:#fff;
  }
  .testimonial-image {
      width: 10%;
      border-radius: 100%;
      margin: 20px;
  }
  #press {
      background-color: #ef8172;
      text-align: center;
      padding-bottom: 3% ;
  }
  .press-logo {
      width: 15%;
      margin: 20px 20px 50px;
  }
  #footer {
      background-color: #fff;
      margin: 5%;
      text-align: center;
      color: grey;
      font-weight: 500;
  }
  .foo {
      color:black;
      margin: 0 0.5%;
  }